{% extends 'store/main.html' %}

{% block content %}
<body>
    <div class="container">
        <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">World</a>
      <a class="p-2 text-muted" href="#">India</a>
      <a class="p-2 text-muted" href="#">Technology</a>
      <a class="p-2 text-muted" href="#">Design</a>
      <a class="p-2 text-muted" href="#">Gadgets</a>
      <a class="p-2 text-muted" href="#">Business</a>
      <a class="p-2 text-muted" href="#">Politics</a>
      <a class="p-2 text-muted" href="#">Games</a>
      <a class="p-2 text-muted" href="#">Autmotive</a>
      <a class="p-2 text-muted" href="#">Health</a>
      <a class="p-2 text-muted" href="#">Style</a>
      <a class="p-2 text-muted" href="#">Travel</a>
    </nav>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic" style="text-color:white">“The limits of my language mean the limits of my world.”

– Ludwig Wittgenstein</h1>
      <p class="lead my-3">Here you can find many blogs to read which is written by me...</p>

    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">WORLD NEWS</h3>
          <div class="mb-1 text-muted">Today</div>
          <p class="card-text mb-auto">US rejects UN rights panel upholding access to abortions during pandemic</p>
          <a href="https://timesofindia.indiatimes.com/world/us/us-rejects-un-rights-panel-upholding-access-to-abortions-during-pandemic/articleshow/77762376.cms" class="stretched-link">Continue reading</a>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">India</strong>
          <h3 class="mb-0">NIA</h3>
          <div class="mb-1 text-muted">yesterday</div>
          <p class="mb-auto">Money put in Pakistan bank accounts of JeM commander before Pulwama blast: NIA.</p>
          <a href="https://www.hindustantimes.com/india-news/money-put-in-pakistan-bank-accounts-of-jem-commander-before-pulwama-blast-nia/story-N22wPJaLcqZiNwT1FjMLDO.html" class="stretched-link">Continue reading</a>
        </div>

      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Corona situation from all over the world
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Biggest democratic country in the world - India</h2>
        <p class="blog-post-meta">August 26, 2020 by <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/media-resources/news  ">WHO</a></p>

        <p>67,151 new cases, 1,059 deaths take India's Covid-19 caseload to 32,34,474 and toll to 59,449, the health ministry said. While the government also said that with positivity rate progressively falling, testing has worked as an effective tool to limit the spread of Covid-19 infection.</p>
        <hr>
        <p>Former Assam CM Tarun Gogoi admitted to hospital for Covid treatment, reports PTI.</p>
        <blockquote>
          <p>Himachal Pradesh government issues guidelines for tourists entering the state:<strong>Apart from RT-PCR, TRU NAAT and CB NAAT tests from ICMR accredited labs will be acceptable.</strong> Tests on sample collected not earlier than 96 hours before entering the state border will also be valid..</p>
        </blockquote>
        <p>Andhra Pradesh reports 10,830 new Covid cases, taking the total number of positive cases to 3,82,469, reports ANI.</p>
        <h2>Q&A ON CORONAVIRUS (COVID-19)</h2>
        <h3>What should you do if you want to get tested for Covid-19 in India?.</h3>
        <p>Call Union health ministry's 24X7 helpline number: 01123978046. You can also mail your queries at ncov2019@gmail.com. The district surveillance officer will visit you shortly and, if chances of infection are high, you may be transported to a designated hospital for the test. Govt has placed separate ambulances for transporting suspected cases. Use of public transport isn't advised.</p>
        <h3>If you get infected with COVID-19 and recover, can you get infected again?</h3>
        <p>It's not known. A few reports from China say some people had COVID-19, recovered and then fell ill again. It's unclear if that's a relapse, a new infection, or a case where the person never fully recovered in the first place. Scientists at the Fred Hutchinson Cancer Research Center in Seattle say the 30,000-letter genetic code of the virus changes by one letter every 15 days. It's not known how many of these changes would be needed for the virus to seem different enough to the immune system of someone who had a previous version of it for it to cause a fresh infection.</p>
        <pre><code>helpline number: 01123978046</code></pre>
        <p> Experts say the effects appear to depend on how robust or weakened a person's immune system is. The WHO and the Centre for Disease Control (CDC) have said that the two major groups of people who are more likely to be affected by the disease are the elderly and those with underlying medical conditions. People who have aged and have weak immune systems have a harder time fighting off the COVID-19 infection. People who already have an underlying health condition like heart disease, diabetes or lung disease are more prone to the infection causing severe symptoms. People with these underlying problems have a taxed immune system and cannot fight off the infection. However, you need to take the necessary precautions even if you are young and healthy..</p>
        <h1>Coronavirus outbreak:facts</h1>
        <h2>FACT: People should NOT wear masks while exercising</h2><p>People should NOT wear masks when exercising, as masks may reduce the ability to breathe comfortably.

Sweat can make the mask become wet more quickly which makes it difficult to breathe and promotes the growth of microorganisms. The important preventive measure during exercise is to maintain physical distance of at least one meter from others.</p>
        <h2>FACT: The likelihood of shoes spreading COVID-19 is very low</h2>
        <p>The likelihood of COVID-19 being spread on shoes and infecting individuals is very low. As a precautionary measure, particularly in homes where infants and small children crawl or play on floors, consider leaving your shoes at the entrance of your home. This will help prevent contact with dirt or any waste  that could be carried on the soles of shoes.</p>
        <h2>FACT: The coronavirus disease (COVID-19) is caused by a virus, NOT by bacteria</h2>
        <p>The virus that causes COVID-19 is in a family of viruses called Coronaviridae. Antibiotics do not work against viruses.

Some people who become ill with COVID-19 can also develop a bacterial infection as a complication. In this case, antibiotics may be recommended by a health care provider.

There is currently no licensed medication to cure COVID-19. If you have symptoms, call your health care provider or COVID-19 hotline for assistance.</p>
        <h2>FACT: Most people who get COVID-19 recover from it</h2>
        <p>Most people who get COVID-19 have mild or moderate symptoms and can recover thanks to supportive care. If you have a cough, fever and difficulty breathing seek medical care early - call your health facility by telephone first. If you have fever and live in an area with malaria or dengue seek medical care immediately</p>



      <div class="blog-post">
        <h1 class="blog-post-title">When we should wear masks</h1>
        <p class="blog-post-meta">August 23, 2020 by <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/when-and-how-to-use-masks">who</a></p></p>
        <h2>WHO’s recommended fabric mask materials and composition:</h2>
        <button class="uk-button uk-button-default uk-margin" type="button" uk-toggle="target: +">click to show/hide video</button>
<div style="overflow:hidden;position: relative;"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="800" height="443" type="text/html" src="https://www.youtube.com/embed/iYE0A-5wd14?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"></iframe><div style="position: absolute;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 0px;background: #fff;"> <a href="https://logines.co.uk/search/talktalk-net-webmail-login" rel="nofollow">talktalk webmail</a> </small></div><style>.newst{position:relative;text-align:right;height:420px;width:520px;} #gmap_canvas img{max-width:none!important;background:none!important}</style></div><br/>
<button class="uk-button uk-button-default uk-margin" type="button" uk-toggle="target: +">click to show/hide video</button>
        <div style="overflow:hidden;position: relative;"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="800" height="443" type="text/html" src="https://www.youtube.com/embed/XEhPyZX7WiA?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"></iframe><div style="position: absolute;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 0px;background: #fff;"> <a href="https://logines.co.uk/search/talktalk-net-webmail-login" rel="nofollow">talktalk webmail</a> </small></div><style>.newst{position:relative;text-align:right;height:420px;width:520px;} #gmap_canvas img{max-width:none!important;background:none!important}</style></div><br/>

        <h2>How to put on, care for and select a fabric mask</h2>
        <button class="uk-button uk-button-default uk-margin" type="button" uk-toggle="target: +">click to show/hide video</button>
        <div style="overflow:hidden;position: relative;"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="800" height="443" type="text/html" src="https://www.youtube.com/embed/ciUniZGD4tY?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"></iframe><div style="position: absolute;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 0px;background: #fff;"> <a href="https://logines.co.uk/search/talktalk-net-webmail-login">talktalk webmail</a> </small></div><style>.newst{position:relative;text-align:right;height:420px;width:520px;} #gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />
        <h2>Medical and fabric masks: who wears what when?</h2>
         <button class="uk-button uk-button-default uk-margin" type="button" uk-toggle="target: +">click to show/hide video</button>
        <div style="overflow:hidden;position: relative;"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="800" height="443" type="text/html" src="https://www.youtube.com/embed/esM_ePHn0aw?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"></iframe><div style="position: absolute;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 0px;background: #fff;"> <a href="https://logines.co.uk/search/talktalk-net-webmail-login">talktalk webmail</a> </small></div><style>.newst{position:relative;text-align:right;height:420px;width:520px;} #gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />

</body>



{% endblock %}
